.viewing-label{
    -fx-font-size: 20;
    -fx-font-weight: bold;

}

.smaller-viewing-label{
    -fx-font-size: 16;
    -fx-font-weight: bold;

}

.clean-button{

    -fx-focus-color: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.0);


}

